<%= form_for(@pushup) do |f| %>
  <% if @pushup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pushup.errors.count, "error") %> prohibited this pushup from being saved:</h2>

      <ul>
      <% @pushup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
