<h1>Listing pushups</h1>
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "pushups_chart"
      },
      title: {
        text: "Pushups by Day"
      },
      xAxis: {
        type: "date"
      },
      yAxis: {
        title: {
          text: "Pushups"
        }
      },
      series: [
      {
      pointInterval: <%= 1.day * 1000 %>,
      startInterval:<%= current_user.pushups.first.created_at %>
    #  data:<%= (current_user.pushups.first.created_at..Date.today).map {current_user.pushups.amount) %>
      }
      ]
    });
  });
</script>
<div id="pushups_chart" style="width:560px; height:300px;"></div>
<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pushups.each do |pushup| %>
  <tr>
    <td><%= "#{pushup.created_at.year}-#{pushup.created_at.month}-#{pushup.created_at.day}" %></td>
    <td><%= pushup.amount %></td>
    <td><%= link_to 'Show', pushup %></td>
    <td><%= link_to 'Edit', edit_pushup_path(pushup) %></td>
    <td><%= link_to 'Destroy', pushup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pushup', new_pushup_path %>
