<h1>Listing series</h1>
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "pushups_chart"
      },
      title: {
        text: "Pushups by Day"
      },
      xAxis: {
        type: "datetime"
      },
      yAxis: {
        title: {
          text: "Pushups"
        }
      },
      series: [{
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 3.months.ago.to_i * 1000 %>,
      data: <%=@series.each.map {|series| [series.without_hours, series.sum]}%>

      }]
    });
  });
</script>
<div id="pushups_chart" style="width:560px; height:300px;"></div>
p <%=@series.each.map {|series| [series.without_hours, series.sum]} %>
<table>
  <tr>
    <th>User</th>
    <th>Sum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series.each do |series| %>
  <tr>
    <td><%= series.user_id %></td>
    <td><%= series.sum %></td>
    <td><%= link_to 'Show', series %></td>
    <td><%= link_to 'Edit', edit_series_path(series) %></td>
    <td><%= link_to 'Destroy', series, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Series', new_series_path %>
