<!DOCTYPE html>

<%= javascript_include_tag :defaults %>
<html>
<head>
  <title>Pompki</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div name = 'user_navigation'>
  <% if user_signed_in?%>
  	zalogowany jako <%= current_user.email%>|
  	<%= link_to 'Wyloguj się', destroy_user_session_path, :method => :delete %>
  <% else %>
  	<%= link_to 'Zaloguj się', new_user_session_path %> albo <%=link_to 'zarejestruj się', new_user_registration_path  %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
